.field {
  padding: 0 40px 15px 10px;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.field:last-of-type {
  border-bottom: none;
}

.field label {
  text-transform: capitalize;
  font-weight: bold;
}

input {
  padding: 3px;
}

@media (min-width: 460px) {
  .field {
    padding: 0 20px 10px;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}

@media (min-width: 600px) {
  .field {
    padding: 0 30px 10px;
    gap: 50px;
  }
}

@media (min-width: 700px) {
  .field {
    gap: 70px;
  }
}

@media (min-width: 800px) {
  .field {
    gap: 100px;
  }
}

@media (min-width: 900px) {
  .field {
    padding: 0 50px 10px;
    gap: 130px;
  }
}

@media (min-width: 1000px) {
  .field {
    padding: 0 70px 10px;
  }
}

@media (min-width: 1100px) {
  .field {
    gap: 200px;
  }
}
