.responsibilities {
  min-height: 100px;
  padding: 5px;
}

@media (min-width: 460px) {
  .from-to {
    margin-right: 20px;
  }
}

@media (min-width: 600px) {
  .from-to {
    transform: translateY(100%);
  }
}
